Brotli==1.0.9
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
colour==0.1.5
idna==3.3
multivolumefile==0.2.3
ppmd==0.1.1
psutil==5.9.0
py7zr==0.18.5
pybcj==0.5.2
pycryptodomex==3.14.1
pyppmd==0.18.2
pyzstd==0.15.2
requests==2.27.1
shiboken6==6.4.2
texttable==1.6.4
tkmacosx==1.0.4
urllib3==1.26.8
zipfile-deflate64==0.2.0